.dark {
    background: dimgrey;
   
}

.dark-text {
    color: aliceblue;
   
}

.red {
    background: lightcoral;
    
}

.red-text {
    color: rgb(155, 5, 5);
}

.green {
    background: lightgreen;
    
}
.green-text {
    color: rgb(0, 151, 63);
}

.blue {
    background:blue;
   
}
.blue-text {
    color: rgb(97, 167, 228);
   
}