.btn{
    border: 1px solid grey;
    background-color: rgb(32, 100, 15);
    color: chartreuse;
    margin: 5px;
}

.btnfilter {
    font-weight: bold;
    padding: 10px;
}
.btnfilter button {
    background-color: rgb(32, 100, 15);
    color: chartreuse;  
}