

.contaner {
     display: flex;
     justify-content: start;
     height: 85px;
     padding: 20px;
}

.MessageArea {
   display: block;
   font-size: 17px;
   color: rgb(142, 221, 62);
   font-weight: bold;
   margin-left: 10px;
   width: 250px ;
   text-align: left;
   padding: 10px 10px 10px 20px;
   border-top-right-radius:  10px;
   border-top-left-radius:  10px;
   border-bottom-right-radius:  10px;
   background-color: rgb(102, 96, 96);
}

.MessageArea {
   
    position: relative;
        }
.MessageArea::after {
    content: ''; 
    position: absolute;
    left: -30px; bottom: 0px;
    border: 10px solid transparent;
    border-right: 20px solid rgb(102, 96, 96);
}
 
   
.Avatar {
   display: block;
   width: 60px;
   padding: 10px;
   border-bottom-right-radius: 15px;
}

.Avatar img {
   border-style: solid;
   border-radius: 40px;
   width: 60px;
   height: 60px;
   margin-top: 10px;
}

.time {
   text-align: right;
   color: rgb(181, 221, 122);
}

.Username { 
   color: rgb(173, 106, 194);
}





